// Settings for the body panel in the layout "defaults.html"
//
.body-panel {

	// Layout top-to-bottom for the top level
	// This arranges the navbanner-panel, column-panel, footer-separator and footer-panel (from "default.html")
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	// Setting a background image on the entire site
	@include wide-layout { background: $body-panel-background-wide; }
	@include medium-layout { background: $body-panel-background-medium; }
	@include narrow-layout { background: $body-panel-background-narrow; }
}