// *********************************************************************************************************************
// Column panel settings
// ---------------------------------------------------------------------------------------------------------------------
//

.secondary-column {
	
	// Use the theme insets to keep the content of the column away from the edges.
	@extend .theme-insets;
	
	// Set the background
	@include narrow-layout { background: $secondary-column-background-narrow; }
	@include medium-layout { background: $secondary-column-background-medium; }
	@include wide-layout { background: $secondary-column-background-wide; }
}

main {

	// Use the theme insets to keep the content of the column away from the edges.
	@extend .theme-insets;

	// Set the background
	@include narrow-layout { background: $primary-column-background-narrow; }
	@include medium-layout { background: $primary-column-background-medium; }
	@include wide-layout { background: $primary-column-background-wide; }
}

.tertiary-column {
	
	// Use the theme insets to keep the content of the column away from the edges.
	@extend .theme-insets;

	// Set the background
	@include narrow-layout { background: $tertiary-column-background-narrow; }
	@include medium-layout { background: $tertiary-column-background-medium; }
	@include wide-layout { background: $tertiary-column-background-wide; }
}

// The layout for the column panel is the main driver for the RWD aspects of this theme.
//
.column-panel {

	// Layout
	display: flex;
	
	@include narrow-layout {
	
		// This layout is column based, i.e. the content is displayed over one another.
		flex-direction: column;
				
		// The primary column must be displayed on top, use the 'order' property to enforce this.
		.primary-column { order: 1; }

		// The secondary column is put below the primary the second place
		.secondary-column { order: 2; }

		// Unused		
		.tertiary-column, .secondary-divider, .tertiary-divider, .secondary-column .vmenu { display: none; }
	}
	
	@include medium-layout {
		
		// This layout is row based
		flex-direction: row;
		
		// The secondary column uses a fixed witdh and hosts both the secondary and tertiary column content
		.secondary-column { width: $secondary-column-width; }

		// The primary column can grow
		.primary-column { flex: 1 1 auto; width: 1px; } // A width must be specified

		// Unused
		.tertiary-divider, .secondary-widget-divider, .tertiary-column, .primary-column .vmenu { display: none; }
	}
	
	@include wide-layout {
	
		// This layout is row based
		flex-direction: row;
		
		// The secondary and tertiary columns uses a fixed witdh 
		.secondary-column { width: $secondary-column-width; }
		.tertiary-column { width: $tertiary-column-width; }
							
		// The primary column can grow
		.primary-column { flex: 1 1 auto; width: 1px; } // A width must be specified

		// Unused
		.secondary-column .tertiary-column-content, .tertiary-widget-divider, .secondary-widget-divider, .primary-column .vmenu { display: none }
	}
	
	// Appearances
	background: $column-panel-background;
	@include narrow-layout { background: $tertiary-column-background-narrow; }
	@include medium-layout { background: $tertiary-column-background-medium; }
	@include wide-layout { background: $tertiary-column-background-wide; }
}


// Add top margins for when the banner is fixed at the top of the screen.
// This prevents the content of the column panels from "shining through" the banner.
//
.column-panel-fixed-menubar {
	
	@include narrow-layout { margin-top: $internal-banner-area-height-narrow; }
	@include medium-layout { margin-top: $internal-banner-area-height-medium; }
	@include wide-layout { margin-top: $internal-banner-area-height-wide; }
}

// The column dividers
.secondary-divider, .tertiary-divider {
	margin-top: $column-divider-top-spacing;
	margin-left: 0;
	margin-bottom: $column-divider-bottom-spacing;
	margin-right: 0;
	border-right: 1px solid $column-divider-color;
	display: $column-divider-display;
}

