
// Defines the insets used in the columns and footer-panel. I.e the empty spaces between text and separators lines.
.insets {
	padding-top: $vspacing-unit;
	padding-right: $hspacing-unit;
	padding-bottom: $vspacing-unit;
	padding-left: $hspacing-unit;
}

.secondary-column { @extend .insets; background: $secondary-column-background; }
main { @extend .insets; background: $primary-column-background; }
.tertiary-column { @extend .insets; background: $tertiary-column-background; }

// The layout for the column panel uses flex, but lays out the columns either column or row based depending on the size of the window (screen).
//
.column-panel {

	// Layout
	display: flex;
	
	@include narrow-layout {
	
		// This layout is column based, i.e. the content is displayed over one another.
		flex-direction: column;
				
		// The primary column must be displayed on top, use the 'order' property to enforce this.
		.primary-column { order: 1; }

		// The secondary column is put below the primary the second place
		.secondary-column { order: 2; }

		// Unused		
		.tertiary-column, .secondary-divider, .tertiary-divider { display: none; }
		.secondary-column .vmenu { display: none }
	}
	
	@include medium-layout {
		
		// This layout is row based
		flex-direction: row;
		
		// The secondary column uses a fixed witdh and hosts both the secondary and tertiary column content
		.secondary-column { width: $secondary-column-width; }

		// The primary column can grow
		.primary-column { flex: 1 1 auto; width: 1px; } // A width must be specified

		// Unused
		.tertiary-divider, .secondary-widget-divider, .tertiary-column { display: none; }
		.primary-column .vmenu { display: none; }
	}
	
	@include wide-layout {
	
		// This layout is row based
		flex-direction: row;
		
		// The secondary and tertiary columns uses a fixed witdh 
		.secondary-column { width: $secondary-column-width; }
		.tertiary-column { width: $tertiary-column-width; }
							
		// The primary column can grow
		.primary-column { flex: 1 1 auto; width: 1px; } // A width must be specified

		// Unused
		.secondary-column .tertiary-column-content, .tertiary-widget-divider, .secondary-widget-divider { display: none }
		.primary-column .vmenu { display: none; }
	}
	
	// Appearances
	background: $column-panel-background;
}


// Add top margins for when the navbanner is fixed at the top of the screen. This prevents the content of the column panels from being placed behind the navbanner.
//
.column-panel-fixed-menubar {
	
	@include narrow-layout {
		margin-top: $narrow-banner-height + $narrow-menu-height;
	}
	
	@include medium-layout {
		margin-top: $medium-banner-height + $medium-menu-height;
	}
	
	@include wide-layout {
		margin-top: $wide-banner-height + $wide-menu-height;
	}
}

// This is the element between the column panel and the footer.
.footer-divider {
	display: $footer-divider-display;
	width: 100%;
	margin: 0;
	border-bottom: 1px solid $footer-divider-color;
}

.footer-panel {
	@extend .insets;
	font-size: $small-font-size;
	text-align: center;	
	@include wide-layout { background: $wide-footer-background; }
	@include medium-layout { background: $medium-footer-background; }
	@include narrow-layout { background: $narrow-footer-background; }
}

// The column dividers
.secondary-divider, .tertiary-divider {
	margin-top: $column-divider-top-spacing;
	margin-left: 0;
	margin-bottom: $column-divider-bottom-spacing;
	margin-right: 0;
	border-right: 1px solid $column-divider-color;
	display: $column-divider-display;
}

