// Footer related SCCS

// This is the element between the column panel and the footer.
.footer-divider {
	@if $footer-divider-display { display: block; } @else { display: none; }
	width: 100%;
	margin: 0;
	@include narrow-layout { border-bottom: 1px solid $footer-divider-color-narrow; }
	@include medium-layout { border-bottom: 1px solid $footer-divider-color-medium; }
	@include wide-layout { border-bottom: 1px solid $footer-divider-color-wide; }
}

.footer-panel {
	@extend .theme-insets;
	text-align: center;	
	@include narrow-layout {
		font: $footer-font-narrow;
		color: $footer-color-narrow;
		background: $footer-background-narrow;
	}
	@include medium-layout {
		font: $footer-font-medium;
		color: $footer-color-medium;
		background: $footer-background-medium;
	}
	@include wide-layout {
		font: $footer-font-wide;
		color: $footer-color-wide;
		background: $footer-background-wide;
	}
}
