// SCCS for the page design.

.page-meta {
	color: $grey-color;
	font-size: $small-1-font-size;
}

.page-title {
	text-align: center;
	margin-top: 2 * $vspacing-unit;
	margin-bottom: 2 * $vspacing-unit;
}
