// Used to include an iframe that scales with the column width in HD (16:9) format.
// To be used for the div that wraps an iframe like:
// <div class="scaling-iframe-wrapper-hd"><iframe>...</iframe></div>
// Very usefull for video players etc.
.scaling-iframe-wrapper-hd {
	position: relative;
	padding-bottom: 56.25%; // HD ratio is 16:9 => (9/16)*100%= 56.25%
	padding-top: 30px;
	overflow: hidden;
	margin-top: $vspacing-unit;
	margin-bottom: $vspacing-unit;
	iframe {
		// Allows component to extend over the padding area
		position: absolute;
		// Let the upper left corner be the upper left corner of the containg element
		top: 0;
		left: 0;
		// Make the iframe as big as its container.
		width: 100%;
		height: 100%;
	}
}

// Used by the older-posts widget
.older-posts {
	h1 {
		margin-bottom: $vspacing-unit/2;
	}
	.year-details {
		summary {
			outline: none; // Prevent blue input-active activity border
		}
		.month-details {
			padding-left: $hspacing-unit;
			p {
				padding: 0 0 0 (2 * $hspacing-unit);
				margin: 0 0 0 0;
				text-indent: -$hspacing-unit;
			}
		}
	}
}

// For the categories
.categories {
	
	// Do not display the checkbox
	input { display: none; }
	
	p { margin: 0 }
	
	a {
		text-decoration: none;
		display: block;
		background-color: $category-item-background-color;
	}
	a:hover { background-color: $category-item-background-hover-color; }
	
	label h1 { background-color: $category-header-background-color; }
	label h1:hover { background-color: $category-header-background-hover-color; }
	
	.title { padding: $category-item-padding; }
	
	// Only display the categories when the cat input checkbox is active
	.title { display: none; }
	input:checked ~ { .title { display: block; } }
}