{% if site.data.setup.banner-position == 'top-fixed' %}
	{% assign banner-classes = 'banner-area banner-area-outside-dom' %}
{% else %}
	{% assign banner-classes = 'banner-area banner-area-in-dom' %}
{% endif%}

<input type="checkbox" id="banner-menu-symbol">
<div class="{{ banner-classes }}">
	<div class="banner"></div>
	<!-- the following elements are outide the DOM (positioned absolute relative to the banner-area) -->
	<div class="icon-container">{% include banner-icon.html %}</div>
	<div class="title-area-container">{% include banner-title-area.html %}</div>
	<div class="label-container"><label for="banner-menu-symbol"><p><!-- empty but necessary! --></p></label></div>
	<!-- from here on the elements are part of the DOM again -->
	<div class="menubar-top-separator"></div>
	{% include menubar.html %}
	<div class="menubar-bottom-separator"></div>
</div>
{% if site.data.setup.banner-position == 'top-fixed' %}
	{% comment %}<!--

	In the top-fixed banner position, the banner-area is placed outside the DOM. Without the HTML in this part the content area would show up behind the menubar and behind the banner (possibly hidden by the background settings).
	
	If changes are made to this file that increase the height of the banner-area that is placed outside the DOM, the HTML code in this part can compensate for that height increase by specifying a height for the add-to-banner-area-height class and giving it an appropriate background color when needed.

	-->{% endcomment %}
	<div class="banner-area invisible">
		<div class="banner"></div>
		<div class="menubar-top-separator"></div>
		<!-- Create a list of top menu item titles 
		{% assign topTitles = "" | split: "" %}
		{% assign sortedPages = site.pages | where:'menuInclude', true | where_exp:'item', 'item.menuTopTitle != nil' | sort: 'menuTopIndex', 'last' %}
		{% for ape in sortedPages %}{% assign topTitles = topTitles | push: ape.menuTopTitle %}{% endfor %}
		{% assign topTitles = topTitles | uniq %}
-->
		{% include menubar.html %}
		<div class="menubar-bottom-separator"></div>
		<div class="add-to-banner-area-height"></div>
	</div>
{% endif %}
