
<!-- include cblock-row.html -->
{% comment %}<!--

Layout of a single 'cblock'.

Parameters:
	title: The title for the row of cblocks to be displayed.
	cblocks: A sequence of cblock's that must be displayed in a row.

-->{%- endcomment -%}
<h2 class="cblock-row-title">{{ include.title }}</h2>
<div class="cblock-row">
{%- for cblock in include.cblocks -%}
	{%- include cblock.html name=cblock.name image=cblock.image description=cblock.description link=cblock.link -%}
{%- endfor %}
</div>
<!-- end of include cblock-row.html -->
