
<!-- include browser-info.html -->
<div class="browser-info">
	<h1>Browser information:</h1>
	<p>This website uses CSS3 & HTML5. It is recommended to use a modern browser with at least the following version number:</p>
	<ul>
		<li>Chrome 29.0</li>
		<li>Edge 12.0</li>
		<li>Explorer 11.0</li>
		<li>Firefox 28.0</li>
		<li>Safari 9.0</li>
		<li>Opera 17.0</li>
	</ul>
	<p>Problems? please <a href="{{ "/pages/contact/contact.html" | relative_url }}">contact</a> me.</p>
</div>
<!-- end of include browser-info.html -->
