---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Note: This content has been removed in favour of the definitions in Classic-Jekyll-Theme.scss.

// Import partials from the theme.
@import "classic-jekyll-theme";
