<!DOCTYPE html>
{% if page.secondary-column %}{% if page.secondary-column == 'left' %}{% assign secondary-column = 'left' %}{% endif %}{% if page.secondary-column == 'right' %}{% assign secondary-column = 'right' %}{% endif %}{% else %}{% if site.data.setup.secondary-column == 'left' %}{% assign secondary-column = 'left' %}{% endif %}{% if site.data.setup.secondary-column == 'right' %}{% assign secondary-column = 'right' %}{% endif %}{% endif %}
{% if page.secondary-column-content %}{% assign secondary-column-content = page.secondary-column-content %}{% else %}{% assign secondary-column-content = 'secondary-column.html' %}{% endif %}
{% if page.tertiary-column %}{% if page.tertiary-column == 'present' %}{% assign tertiary-column = 'present' %}{% endif %}{% else %}{% if site.data.setup.tertiary-column == 'present' %}{% assign tertiary-column = 'present' %}{% endif %}{% endif %}
{% if page.tertiary-column-content %}{% assign tertiary-column-content = page.tertiary-column-content %}{% else %}{% assign tertiary-column-content = 'tertiary-column.html' %}{% endif %}
{% if page.navbanner-position %}{% assign navbanner-position = page.navbanner-position %}{% else %}{% assign navbanner-position = site.data.setup.navbanner-position %}{% endif %}
<html>

	{% include head.html %}
	
  	<body class="body-panel">
  	
  		{% if navbanner-position == 'top' %}
  		<div class="navbanner-panel">{% include navbanner.html %}</div>
  		{% endif %}

		<div class="column-panel">

			{% if secondary-column == 'left' %}
			<div class="secondary-column">
				<div class="secondary-column-content">{% include secondary-column.html %}</div>
				{% if tertiary-column == 'present' %}	
					<div class="tertiary-column-content">{% include tertiary-column.html %}</div>
				{% endif %}
			</div>
			<div class="secondary-divider"></div>
			{% else %}
				{% if tertiary-column == 'present' %}
				<div class="tertiary-column">
					<div class="tertiary-column-content">{% include tertiary-column.html %}</div>
				</div>
				<div class="tertiary-divider"></div>
				{% endif %}			
			{% endif %}


			<div class="primary-column">
			  	{% if navbanner-position == 'main' %}
  				<div class="navbanner-panel">{% include navbanner.html %}</div>
  				{% endif %}
				<main>{{ content }}</main>
			</div>
			
			
			{% if secondary-column == 'right' %}
			<div class="secondary-divider"></div>			
			<div class="secondary-column">
				<div class="secondary-column-content">{% include secondary-column.html %}</div>
				{% if tertiary-column == 'present' %}	
					<div class="tertiary-column-content">{% include tertiary-column.html %}</div>
				{% endif %}
			</div>
			{% else %}
			   {% if tertiary-column == 'present' %}
				<div class="tertiary-divider"></div>
				<div class="tertiary-column">
					<div class="tertiary-column-content">{% include tertiary-column.html %}</div>
				</div>
				{% endif %}
			{% endif %}

		</div>

		<div class="footer-divider"></div>

		<div class="footer-panel">{% include footer.html %}</div>

  	</body>

</html>
